{% extends 'base.html' %}
{% block title %}
    student detail
{% endblock title %}
{% block body %}
    <div class="container mt-3">
        <div class="card">
  <div class="card-header bg-dark text-white">
    Student Detail
  </div>
  <div class="card-body">
    <div class="row">
        <div class="col mt-5 text-center">
            <img src={{url_for("static",filename="upload/"+students.photo)}} class="img-fluid rounded" >
        </div>
        <div class="col mt-5 ">
            <h3>{{students.name}}</h3>
            <p><strong>Roll No: </strong>{{students.roll_no}}</p>
            <p><strong>Email: </strong>{{students.email}}</p>
            <p><strong>Date of Birth: </strong>{{students.dob}}</p>
            <p><strong>Gender: </strong>{{students.gender}}</p>
            <p><strong>Course: </strong>{{students.course}}</p>
            <p><strong>Admission Date:  </strong>{{students.Addmission_date}}</p>
        </div>
    </div>
    <div class="mt-3">
        <a href="/" type="button" class="btn btn-secondary mx-1">Back</a>
        <a href="/update_student/{{students.id}}" type="button" class="btn btn-secondary mx-1">Update</a>
        <a href="/delete_student/{{students.id}}" type="button" class="btn btn-secondary mx-1">Delete</a>
    </div>
  </div>
</div>
    </div>
{% endblock body %}